version: "3.9"

services:
  django:
    build: .
    container_name: safepath_django
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
    restart: always
